## Ignore Visual Studio Code temporary files, etc.
##
## source: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

# User-specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix